<h1>Add Aircraft</h1>

<% if @aircraft.errors.any?%>
<h2>The following errors prevented from getting created</h2>
<ul>
	<% @aircraft.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
<%end%>
</ul>
<%end%>
<%= form_for @aircraft do |f| %>
	<p>
		<%= f.label :aircraft_type%><br/>
		<%= f.text_field :aircraft_type%>
	</p>

	<p>
		<%=f.label :description%><br/>
		<%=f.text_area :description%>
	</p>

	<p>
		<%= f.submit %>
	</p>

	<%end%>

