<h1>Add Aircraft</h1>
<%= form_for @aircraft do |f| %>
	<p>
		<%= f.label :aircraft_type%><br/>
		<%= f.text_field :aircraft_type%>
	</p>

	<p>
		<%=f.label :description%><br/>
		<%=f.text_area :description%>
	</p>

	<p>
		<%= f.submit %>
	</p>

	<%end%>

